
<md-sidenav-container [class.m2app-dark]="isDarkTheme" fullscreen>

  <md-sidenav #sidenav opened="true" mode="side">

	<div class="sidenav-header">
		
	</div>

	<md-nav-list color="primary">
	   <a md-list-item color="primary" routerLink={{menuitem.url}} routerLinkActive="active" *ngFor="let menuitem of menuitems"> {{ menuitem.name }} </a>
	</md-nav-list>

	</md-sidenav>

	<div id="toolbar">
	  <md-toolbar color="primary">
	    <!-- botão para abrir/fechar o menu lateral. Só exibido se tela pequena -->
	    <div [hidden]='!smallscreen'>
		    <button class="app-icon-button" (click)="sidenav.toggle()">
		      <i class="material-icons app-toolbar-menu">menu</i>
		    </button>
	    </div>

	  </md-toolbar>
	</div>
	
	<div id="wrapper">
	  <div id="content">
		    <router-outlet></router-outlet>
    </div>
	</div>
	<span>{{router.url}}</span>
  <button md-fab *ngIf="router.url=='/heroes'" #addHero style="position: absolute; right: 20px;bottom: 10px;" routerLink="."><md-icon>add</md-icon></button>
</md-sidenav-container>