a {
  text-decoration: none;
}

h3 {
  text-align: center; margin-bottom: 0;
}

.dashboard-cards {
  margin: 10px;
  width: 180px;
}

.example-header-image {
  background-image: url('assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.cards-action-button {
  width: 50px;
}

