<h3>Top Heroes</h3>

<masonry>
  <masonry-brick *ngFor="let hero of heroes">
    <md-card class="dashboard-cards">
      <md-card-header>
<!--        <div md-card-avatar class="example-header-image"></div> -->
        <md-card-title>{{hero.name}}</md-card-title>
<!--    <md-card-subtitle>Dog Breed</md-card-subtitle> -->
      </md-card-header>
      <md-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </md-card-content>
      <md-card-actions>
<!--        <a md-button class="cards-action-button" [routerLink]="['/detail', hero.id]"> -->
        <button md-button (click)="openDialog()" class="cards-action-button">
          Detalhes
        </button>
      </md-card-actions>
    </md-card>
  </masonry-brick>
</masonry>

<hero-search></hero-search>