<!--
<div>
  <label>Hero name:</label> <input #heroName />
  <button (click)="add(heroName.value); heroName.value=''">
    Add
  </button>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span>
    <span>{{hero.name}}</span>
    <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
-->

<div class="heroes" *ngFor="let hero of heroes" fxLayout='row'>

  <div fxFlex="33px"                         class="badge" >{{hero.id}}</div>
  <div fxFlex="33%" [fxLayout]="direction" class="two">{{hero.name}}  </div>
  <div fxFlex class="three"></div>

</div>