<div *ngIf="hero">
	<p md-dialog-title style="background-color: navy">{{ hero.name }}</p>
	<md-dialog-content>
		<md-input-container>
			<input md-input [(ngModel)]="hero.id" placeholder="ID" disabled>
		</md-input-container>
		<md-input-container>
			<input md-input [(ngModel)]="hero.name" placeholder="Nome">
		</md-input-container>
	</md-dialog-content>
	<md-dialog-actions align="end">	
		<button md-dialog-close>Cancelar</button>
		<button md-dialog-close (click)="save()">Salvar</button>
	</md-dialog-actions>
</div>


